In [26]:
from pathlib import Path
import pandas as pd

monthly_covid_hos_df = pd.read_csv("..\Project_1\Resources\Monthly_Rates_of_Laboratory-Confirmed_COVID-19_Hospitalizations_from_the_COVID-NET_Surveillance_System_20240723.csv")
monthly_covid_hos_df

,State,Season,_YearMonth,AgeCategory_Legend,Sex_Label,Race_Label,MonthlyRate,Type
0,Utah,2021-22,202205.0,All,All,All,17.2,Crude Rate
1,Utah,2021-22,202203.0,All,All,All,12.1,Crude Rate
2,Utah,2021-22,202202.0,All,All,All,40.4,Crude Rate
3,Utah,2021-22,202204.0,All,All,All,7.1,Crude Rate
4,Utah,2021-22,202201.0,All,All,All,104.2,Crude Rate
...,...,...,...,...,...,...,...,...
34426,COVID-NET,2019-20,202003.0,All,All,"White, non-Hispanic",8.7,Age adjusted Rate
34427,COVID-NET,2019-20,202009.0,All,All,"White, non-Hispanic",10.6,Age adjusted Rate
34428,COVID-NET,2019-20,202006.0,All,All,"White, non-Hispanic",7.7,Age adjusted Rate
34429,COVID-NET,2019-20,202007.0,All,All,"White, non-Hispanic",14.4,Age adjusted Rate
34430,COVID-NET,2019-20,202004.0,All,All,"White, non-Hispanic",20.9,Age adjusted Rate

In [27]:
unique = monthly_covid_hos_df["State"].unique()
unique

array(['Utah', 'Tennessee', 'Oregon', 'Ohio', 'New York', 'New Mexico',
       'Minnesota', 'Michigan', 'Maryland', 'Iowa', 'Georgia',
       'Connecticut', 'Colorado', 'California', 'COVID-NET'], dtype=object)

In [28]:
#limiting data to states listed
states_to_include = ["Utah", "Tennessee", "Oregon", "Ohio", "New York", "New Mexico", "Minnesota", "Michigan", "Maryland", "Iowa", "Georgia", "Connecticut", "Colorado", "California"]
filtered_df = monthly_covid_hos_df[monthly_covid_hos_df['State'].isin(states_to_include)]
filtered_df

,State,Season,_YearMonth,AgeCategory_Legend,Sex_Label,Race_Label,MonthlyRate,Type
0,Utah,2021-22,202205.0,All,All,All,17.2,Crude Rate
1,Utah,2021-22,202203.0,All,All,All,12.1,Crude Rate
2,Utah,2021-22,202202.0,All,All,All,40.4,Crude Rate
3,Utah,2021-22,202204.0,All,All,All,7.1,Crude Rate
4,Utah,2021-22,202201.0,All,All,All,104.2,Crude Rate
...,...,...,...,...,...,...,...,...
34112,California,2019-20,202009.0,0-17 years (Children),Male,All,1.9,Crude Rate
34113,California,2019-20,202007.0,0-17 years (Children),Male,All,2.8,Crude Rate
34114,California,2019-20,202008.0,0-17 years (Children),Male,All,2.5,Crude Rate
34115,California,2019-20,202005.0,0-17 years (Children),Male,All,0.6,Crude Rate
34116,California,2019-20,202003.0,0-17 years (Children),Male,All,0.0,Crude Rate

In [29]:
#filter the columns to State, Season, WeekendDate, and WeeklyRate
filtered_df = filtered_df[['State', 'Season', '_YearMonth', 'MonthlyRate']]
filtered_df

            State   Season  _YearMonth  MonthlyRate
0            Utah  2021-22    202205.0         17.2
1            Utah  2021-22    202203.0         12.1
2            Utah  2021-22    202202.0         40.4
3            Utah  2021-22    202204.0          7.1
4            Utah  2021-22    202201.0        104.2
...           ...      ...         ...          ...
34112  California  2019-20    202009.0          1.9
34113  California  2019-20    202007.0          2.8
34114  California  2019-20    202008.0          2.5
34115  California  2019-20    202005.0          0.6
34116  California  2019-20    202003.0          0.0

[31834 rows x 4 columns]

In [36]:
filtered_df['_YearMonth'] = pd.to_datetime(filtered_df['_YearMonth'].astype(str), format='%Y%m')

ValueError: unconverted data remains when parsing with format "%Y%m": ".0", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.